In [2]:
import pandas as pd
import numpy as np

In [7]:
# read_csv is used to read all info in file given in round bracket and csv is the extension of file
sales_df = pd.read_csv('Advertising Budget and Sales.csv')
sales_df.head(2)

,Unnamed: 0,TV Ad Budget ($),Radio Ad Budget ($),Newspaper Ad Budget ($),Sales ($)
0,1,230.1,37.8,69.2,22.1
1,2,44.5,39.3,45.1,10.4

In [5]:
sales_df.tail(3)

,Unnamed: 0,TV Ad Budget ($),Radio Ad Budget ($),Newspaper Ad Budget ($),Sales ($)
197,198,177.0,9.3,6.4,12.8
198,199,283.6,42.0,66.2,25.5
199,200,232.1,8.6,8.7,13.4

In [6]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               200 non-null    int64
 1   TV Ad Budget ($)         200 non-null    float64
 2   Radio Ad Budget ($)      200 non-null    float64
 3   Newspaper Ad Budget ($)  200 non-null    float64
 4   Sales ($)                200 non-null    float64
dtypes: float64(4), int64(1)
memory usage: 7.9 KB

In [8]:
sales_df.count()

Unnamed: 0                 200
TV Ad Budget ($)           200
Radio Ad Budget ($)        200
Newspaper Ad Budget ($)    200
Sales ($)                  200
dtype: int64

In [11]:
# descibe is return description of our datset
sales_df.describe()

,Unnamed: 0,TV Ad Budget ($),Radio Ad Budget ($),Newspaper Ad Budget ($),Sales ($)
count,200.000000,200.000000,200.000000,200.000000,200.000000
mean,100.500000,147.042500,23.264000,30.554000,14.022500
std,57.879185,85.854236,14.846809,21.778621,5.217457
min,1.000000,0.700000,0.000000,0.300000,1.600000
25%,50.750000,74.375000,9.975000,12.750000,10.375000
50%,100.500000,149.750000,22.900000,25.750000,12.900000
75%,150.250000,218.825000,36.525000,45.100000,17.400000
max,200.000000,296.400000,49.600000,114.000000,27.000000

In [12]:
sales_df.mean()

Unnamed: 0                 100.5000
TV Ad Budget ($)           147.0425
Radio Ad Budget ($)         23.2640
Newspaper Ad Budget ($)     30.5540
Sales ($)                   14.0225
dtype: float64

In [13]:
sales_df.mode()

,Unnamed: 0,TV Ad Budget ($),Radio Ad Budget ($),Newspaper Ad Budget ($),Sales ($)
0,1,17.2,4.1,8.7,9.7
1,2,76.4,5.7,9.3,NaN
2,3,109.8,NaN,25.6,NaN
3,4,177.0,NaN,NaN,NaN
4,5,184.9,NaN,NaN,NaN
...,...,...,...,...,...
195,196,NaN,NaN,NaN,NaN
196,197,NaN,NaN,NaN,NaN
197,198,NaN,NaN,NaN,NaN
198,199,NaN,NaN,NaN,NaN
199,200,NaN,NaN,NaN,NaN

In [14]:
sales_df.median()

Unnamed: 0                 100.50
TV Ad Budget ($)           149.75
Radio Ad Budget ($)         22.90
Newspaper Ad Budget ($)     25.75
Sales ($)                   12.90
dtype: float64

In [15]:
sales_df.quantile(0.50)

Unnamed: 0                 100.50
TV Ad Budget ($)           149.75
Radio Ad Budget ($)         22.90
Newspaper Ad Budget ($)     25.75
Sales ($)                   12.90
Name: 0.5, dtype: float64

In [16]:
sales_df.quantile(0.75)

Unnamed: 0                 150.250
TV Ad Budget ($)           218.825
Radio Ad Budget ($)         36.525
Newspaper Ad Budget ($)     45.100
Sales ($)                   17.400
Name: 0.75, dtype: float64

In [17]:
sales_df.quantile(0.25)

Unnamed: 0                 50.750
TV Ad Budget ($)           74.375
Radio Ad Budget ($)         9.975
Newspaper Ad Budget ($)    12.750
Sales ($)                  10.375
Name: 0.25, dtype: float64

In [19]:
# measures of central tendency is :mean , median and mode
# measures of dispersions is :variance ,standard deviation and range

In [21]:
# if we want mean value in particular column
sales_df['TV Ad Budget ($)'].mean()

147.0425