In [13]:
# List datatype
a = [1,2,3,4,5,6]
print(a)
type(a)

[1, 2, 3, 4, 5, 6]

list

In [14]:
# Tuple datatype
a = (1,2,3,4,5,6)
print(a)
type(a)

(1, 2, 3, 4, 5, 6)

tuple

In [15]:
# Set datatype
a = {1,2,4,8,3,7}
print(a)
type(a)

{1, 2, 3, 4, 7, 8}

set

In [16]:
# Dictionary datatype
a = {"Name":"mrunal","Rollno":28,"Cont":12345}
print(a)
type(a)

{'Name': 'mrunal', 'Rollno': 28, 'Cont': 12345}

dict

In [20]:
# Frozen set datatype
a = frozenset({1,2,3,4,5,6})
print(a)
type(a)

frozenset({1, 2, 3, 4, 5, 6})

frozenset

In [19]:
# Set datatype(duplicate remove)
a = {1,2,4,2,8,1,8,3,7}
print(a)
type(a)

{1, 2, 3, 4, 7, 8}

set

In [25]:
# Positive indexing
s = "Hello"
print(s[1])

e

In [27]:
# Negative indexing(zero not consider,start from -1)
a = [1,2,3,4,5]
a[-1]

5

In [1]:
# Slicing
a = [1,2,3,4,5,6]
a[1:3]

[2, 3]

In [2]:
# Slicing
a = [1,2,3,4,5,6,7,8,9,10]
a[1:]

[2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
# Slicing even number
a = [1,2,3,4,5,6,7,8,9,10]
a[1::2]

[2, 4, 6, 8, 10]

In [39]:
# Slicing odd number
a = [1,2,3,4,5,6,7,8,9,10]
a[0::2]

[1, 3, 5, 7, 9]

In [42]:
# slicing in tuple(HW)
#create tuple of first 10 natural numbers
#slice even number tuple from created natural number tuple
#slice odd number tuple from created natural number tuple

In [6]:
# Dictionary datatype(Indexing;keys can't be duplicate in dict,values can be;)
a = {"Name":"mrunal","Rollno":28,"Cont":12345}
a["Name"]

'mrunal'

In [47]:
#create a list and convert the type to tuple and vice versa using type casting
a = [1,2,3,4]
b = tuple(a)
b

(1, 2, 3, 4)

In [50]:
a = (1,2,3,4)
b = list(a)
b

[1, 2, 3, 4]

In [58]:
#Method of tuple
a = (1,2,1,2,3,2,2,3,4)
a.count(2)# It define count of number which to be given
a.index(2)# It define index of particular number which is given

1

In [60]:
#Method of List
a = [1,2,3,4,5,6,7,2,1,4,3]
a.append('A')
a

[1, 2, 3, 4, 5, 6, 7, 2, 1, 4, 3, 'A']

In [89]:
#name,list of sub,tuple of marks of each sub and add dictionary in list
student_info = ["Mrunal",["maths","science","english"],(70,80,90)]
d = {"DS":"Shalini"}
student_info.pop #remove last element
student_info.append(d) #add element
student_info.remove("Mrunal") #remove element which is given in bracket
student_info.insert(1,"kaustubh") #insert new element with particular location 
student_info

['Mrunal',
 'kaustubh',
 ['maths', 'science', 'english'],
 (70, 80, 90),
 {'DS': 'Shalini'}]

In [91]:
#reverse string
a = "HELLO"
a[::-1]

'OLLEH'

In [92]:
#list methods
#string methods(HW)