In [1]:
import numpy as np
import pandas as pd

In [2]:
ecom_an = pd.read_excel('Excel_Module_Ecommerce_Analysis_v3.xlsx')
ecom_an

,order_id,product_category,destination_city,origin_city,logistics_provider_id,final_delivery_status,dispatch_date,actual_delivery_date,promised_delivery_date,transit_storage_cost,shipping_cost
0,318813,PC,"Delhi, DL",Bangalore,Ship2Home delivery,Delivered,2019-03-01 00:03:36,2019-03-04 00:03:36,2019-03-06 00:03:36,26.0,129
1,70870,Laptop,"Mumbai, MH",Bangalore,Ship2Home Logistics Unit,Delivered,2019-03-01 00:06:46,2019-03-07 00:06:46,2019-03-06 00:06:46,35.0,114
2,719174,Mobile,"Kolkata, WB",Delhi,Ship2Home Logistics Unit,Delivered,2019-03-01 00:14:26,2019-03-07 00:14:26,2019-03-04 00:14:26,38.0,114
3,482982,Mobile,"Delhi, DL",Delhi,Ship2Home Logistics Unit,Delivered,2019-03-01 00:14:32,2019-03-05 00:14:32,2019-03-06 00:14:32,0.0,129
4,217738,Laptop,"Kolkata, WB",Delhi,Ship2Home Logistics Unit,Delivered,2019-03-01 00:21:20,2019-03-07 00:21:20,2019-03-08 00:21:20,50.0,109
...,...,...,...,...,...,...,...,...,...,...,...
4995,45753,Mobile,"Delhi, DL",Bangalore,FastWheels Ltd,Returned,2019-03-14 04:24:16,2019-03-21 04:24:16,2019-03-19 04:24:16,69.0,105
4996,92432,Laptop,"Chennai, TN",Bangalore,FastWheels Ltd,Returned,2019-03-14 13:53:00,2019-03-22 13:53:00,2019-03-18 13:53:00,68.0,104
4997,783527,Laptop,"Bangalore, KA",Bangalore,Ship2Home delivery,Returned,2019-03-14 21:25:04,2019-03-19 21:25:04,2019-03-21 21:25:04,0.0,124
4998,371741,PC,"Chennai, TN",Bangalore,Ship2Home delivery,Returned,2019-03-14 23:03:47,2019-03-16 23:03:47,2019-03-18 23:03:47,25.0,123
4999,962768,Mobile,"Chennai, TN",Delhi,FastWheels Ltd,Returned,2019-03-14 23:46:50,2019-03-22 23:46:50,2019-03-20 23:46:50,38.0,123