In [4]:
a = [1,2,3,4,5,6,7,8,9,10]
b = []
c = []
for i in a:
    if i%2 == 0:
        b.append(i)
    else:
        c.append(i)
print(b)
print(c)

[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]

In [9]:
# Comprehension : It means multiple lines is converted into single line code
a = [1,2,3,4,5,6,7,8,9,10]
b = [i for i in a if i%2 == 0]
c = [i for i in a if i%2 != 0]
print(b)
print(c)

[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]

In [24]:
#print even numbers with duplicates
a = [1,2,3,4,5,6,7,2,2,3,4,5,6,6,7,8,8,9,10]
b = [i for i in a if i%2 == 0]
print(b)

[2, 4, 6, 2, 2, 4, 6, 6, 8, 8, 10]

In [25]:
#print even number without duplicates 
a = [1,2,3,4,5,6,7,2,2,3,4,5,6,6,7,8,8,9,10]
b = {i for i in a if i%2 == 0} #set is collection of unordered unique elements
print(b)

{2, 4, 6, 8, 10}

In [23]:
#Square for numbers in list
a = [1,2,3,4,5,6,7,8,9,10]
b = [i**2 for i in a]
b

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [22]:
#if we want range 
b = [i**2 for i in range(12)]
b

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121]

In [21]:
#if we want only even numbers square:
b = [i**2 for i in range(12) if i%2 == 0]
b

[0, 4, 16, 36, 64, 100]

In [20]:
# If we want to get celcius of list:
a = [1,2,3,6,8]
b = [(9/5)*i+32 for i in a]
b

[33.8, 35.6, 37.4, 42.8, 46.4]

In [28]:
#If we want list in condition
b = [(9/5)*i+32 for i in [1,2,3,4,5]]
b

[33.8, 35.6, 37.4, 39.2, 41.0]

In [32]:
#create dictionary by using comprehension
a = [1,2,3,4,5]
b = [(9/5)*i+32 for i in a]
b

[33.8, 35.6, 37.4, 39.2, 41.0]

In [31]:
dict = {i:(9/5)*i+32 for i in a}
dict

{1: 33.8, 2: 35.6, 3: 37.4, 4: 39.2, 5: 41.0}

In [35]:
#second method
dict = {i:j for i,j in zip(a,b)}
dict

{1: 33.8, 2: 35.6, 3: 37.4, 4: 39.2, 5: 41.0}

#lambda functions
,map
,filter
,reduce

In [45]:
# Lambda syntax
#lambda keyword input: function/output, iterable

a = ["India","England","US","Pakistan","China"]
list(map(lambda x:x.upper(), a))

['INDIA', 'ENGLAND', 'US', 'PAKISTAN', 'CHINA']

In [44]:
#print square by using lambda function
a = [1,2,3,4,5]
list(map(lambda x:x**2, a))

[1, 4, 9, 16, 25]

In [46]:
# By using inbuilt function
a = ["India","England","US","Pakistan","China"]
list(map(lambda x:len(x), a))

[5, 7, 2, 8, 5]

In [48]:
# Without using lambda function
a = ["India","England","US","Pakistan","China"]
list(map(len, a))

[5, 7, 2, 8, 5]

In [50]:
# Map syntax:
#list(map(function,iterable))

In [56]:
# Filter syntax:
#if we want to check condition is true or false then we use filter function

In [52]:
e = [3,4,5,6,7,8,9,10]
divby3 = lambda x : x%3 == 0
divby3(6)

True

In [53]:
divby3(10)

False

In [54]:
filter(divby3, e)

In [55]:
list(filter(divby3, e))

[3, 6, 9]

In [57]:
e = [3,4,5,6,7,8,9,10]
even = lambda x : x%2 == 0
even(6)

True

In [58]:
list(filter(even, e))

[4, 6, 8, 10]

In [61]:
e = [3,4,5,6,7,8,9,10]
odd = lambda x : x%2 != 0
list(filter(odd, e))

[3, 5, 7, 9]

In [62]:
# Reduce syntax

In [68]:
# It is compulsory to run
from functools import reduce

In [64]:
a = [20,25,30,35,40]
reduce(lambda x,y:x+y, a)

150

In [66]:
a = [20,10,5]
reduce(lambda x,y:x-y, a)

5

In [67]:
b = ["India","England","US","Pakistan","China"]
reduce(lambda x,y:x+y, b)

'IndiaEnglandUSPakistanChina'

In [69]:
c = [1,2,3,4,5,6,7]
reduce(lambda x,y:x*y, c)

5040

In [86]:
# Reduce to return quotient of element
a = [1,2,3,4,5,6,7,8]
reduce(lambda x,y:x//y, a)

0

In [94]:
# Calculate the maximum element in a list
a = [1,2,3,6,43,5]
reduce(lambda x,y:max(x,y), a)

43

In [97]:
# Concatenate strings in a list with a seperator
b = ["Mrunal","Kanse"]
reduce(lambda x,y:x+" "+y, b)

'Mrunal Kanse'

In [87]:
# Calculate the maximum element in a list(2nd method)
a = [1,2,3,6,43,5]
reduce(lambda x,y:x if x>y else y, a)

43