In [2]:
x =2

In [3]:
x

2

# First Lecture on python

# First Lecture
## First Lecture
### First Lecture

I am taking **Python** lecture today.

This is `Python` class

Hello, Im Mrunal Kanse.I am Studying <br>SQL,<br>Excel,<br>java

Hello, Im Mrunal Kanse.I am Studying
>> SQL

>> Excel

>> java

Hello, Im Mrunal Kanse.I am Studying
- SQL

- Excel

- java

Species:
- Animal
  - Dog 
      - Cat
- Plants

<font color='Purple'>Hello, Im Mrunal Kanse.

<h1 style= 'color:red'> Mrunal Kanse

This is an equation:
$2x+y=10$

## Creating Table
| Name | Marks |
| :---: | :---: |
| A | 90 |
| B | 90 |

## Creating Table
| Name | Marks |
| ---: | ---: |
| A | 90 |
| B | 90 |

## Creating Table
| Name | Marks |
| --- | --- |
| A | 90 |
| B | 90 |