In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\mrunal\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\mrunal\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\mrunal\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\mrunal\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\mrunal\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\mrunal\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
import pandas as pd
from pandas import Series, DataFrame

#### Series

In [3]:
obj_1 = pd.Series([4,2,3,4,5])
obj_1

0    4
1    2
2    3
3    4
4    5
dtype: int64

In [4]:
# If we want months at by default index
obj_1 = pd.Series([4,2,3,4,5],index = ['March','April','May','June','July'])
obj_1

March    4
April    2
May      3
June     4
July     5
dtype: int64

In [5]:
obj_1.values

array([4, 2, 3, 4, 5], dtype=int64)

In [6]:
obj_1.index

Index(['March', 'April', 'May', 'June', 'July'], dtype='object')

In [7]:
# Indexing
obj_1['March']

4

In [8]:
# Update method
obj_1['March'] = 6
obj_1

March    6
April    2
May      3
June     4
July     5
dtype: int64

In [9]:
# condition to filter out
print(obj_1[obj_1 >= 5])

March    6
July     5
dtype: int64

In [10]:
grade = pd.Series([80,90,60,70,90],index = ['A','B','C','D','E'])
grade

A    80
B    90
C    60
D    70
E    90
dtype: int64

In [11]:
grade['A']

80

In [12]:
grade['B'] = 80
grade

A    80
B    80
C    60
D    70
E    90
dtype: int64

In [13]:
print(grade[grade >= 70])

A    80
B    80
D    70
E    90
dtype: int64

In [14]:
# multiply the values of the given
obj_2 = obj_1*0.20
obj_2

March    1.2
April    0.4
May      0.6
June     0.8
July     1.0
dtype: float64

In [15]:
import numpy as np

In [16]:
# e mostly used in exponent and log
obj_3 = np.exp(obj_2)
obj_3

March    3.320117
April    1.491825
May      1.822119
June     2.225541
July     2.718282
dtype: float64

In [17]:
'September' in obj_3

False

In [18]:
80 in grade.values

True

In [19]:
'April' in obj_3

True

#### Connection between dict and series in pandas

In [20]:
dict_1 = {'A':50,'B':60,'C':70,'D':80,'E':90}

obj_4 = pd.Series(dict_1)
obj_4

A    50
B    60
C    70
D    80
E    90
dtype: int64

In [21]:
index_change = [1,2,3,4,5]
obj_4.index = index_change
obj_4

1    50
2    60
3    70
4    80
5    90
dtype: int64

In [22]:
index_2 = ['B','A','C','D']

obj_5 = pd.Series(dict_1, index = index_2)
obj_5

B    60
A    50
C    70
D    80
dtype: int64

In [26]:
obj_7 = pd.Series(dict_1, index = ['B','A','C','D','F'])
obj_7

B    60.0
A    50.0
C    70.0
D    80.0
F     NaN
dtype: float64

In [27]:
# To check is any null value or not in Series
pd.isnull(obj_7)

B    False
A    False
C    False
D    False
F     True
dtype: bool

In [ ]:
pd.notnull(obj_7)

In [34]:
dict_1 = {'A':50,'B':60,'C':70,'D':80}

obj_4 = pd.Series(dict_1)
obj_4

A    50
B    60
C    70
D    80
dtype: int64

In [35]:
index_2 = ['B','A','C','D']

obj_5 = pd.Series(dict_1, index = index_2)
obj_5

B    60
A    50
C    70
D    80
dtype: int64

In [36]:
obj_9 = obj_4 + obj_5
obj_9

A    100
B    120
C    140
D    160
dtype: int64

In [37]:
obj_9.head()

A    100
B    120
C    140
D    160
dtype: int64

In [40]:
obj_9.head(3)

A    100
B    120
C    140
dtype: int64

In [39]:
obj_9.tail()

A    100
B    120
C    140
D    160
dtype: int64

In [41]:
obj_9.tail(2)

C    140
D    160
dtype: int64

In [42]:
obj_4.index.name = 'Student Name'
obj_4.name = 'Marks'
obj_4

Student Name
A    50
B    60
C    70
D    80
Name: Marks, dtype: int64

In [43]:
student_name = pd.Series(['Ana','Eve','Chris','Della','Anne'])
student_name_filter = student_name[student_name.str.startswith('A')]
student_name_filter

0     Ana
4    Anne
dtype: object